/*
 * Windows resources for the Windows Console module
 */

#include "wconsrc.h"

IDD_SIMPLE_RESPONSE DIALOGEX 0, 0, 136, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU | DS_CENTER
CAPTION "Enter Password"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_RESPONSE, 7, 7, 122, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 7, 29, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 79, 29, 50, 14
END

IDD_SIMPLE_PASSWORD DIALOGEX 0, 0, 136, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU | DS_CENTER
CAPTION "Enter Password"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_RESPONSE, 7, 7, 122, 14, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 7, 29, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 79, 29, 50, 14
END

IDD_GENERAL_RESPONSE DIALOGEX 0, 0, 306, 157+35
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU | DS_CENTER
CAPTION "Authentication Required - Quest PuTTY"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Message", IDC_STATIC, 8, 3, 29, 8
    EDITTEXT        IDC_MESSAGE, 7, 14, 292, 109+35, 
			ES_READONLY | ES_AUTOVSCROLL | ES_MULTILINE |
		        SS_SUNKEN | WS_BORDER
    LTEXT           "Response", IDC_STATIC, 8, 126+35, 32, 8
    EDITTEXT        IDC_RESPONSE, 7, 136+35, 166, 15, 
			ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Cancel", IDCANCEL, 249, 136+35, 50, 14
    DEFPUSHBUTTON   "OK", IDOK, 185, 136+35, 50, 14
END

IDD_GENERAL_PASSWORD DIALOGEX 0, 0, 306, 157+35
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU | DS_CENTER
CAPTION "Authentication Required - Quest PuTTY"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Message", IDC_STATIC, 8, 3, 29, 8
    EDITTEXT        IDC_MESSAGE, 7, 14, 292, 109+35, 
			ES_READONLY | ES_AUTOVSCROLL | ES_MULTILINE |
			SS_SUNKEN | WS_BORDER
    LTEXT           "Response", IDC_STATIC, 8, 126+35, 32, 8
    EDITTEXT        IDC_RESPONSE, 7, 136+35, 230, 15,
			ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 249, 136+35, 50, 14
END
