[Desktop Entry]
Encoding=UTF-8
Name=Login Screen Setup
Name[af]=Aanmeldingsskerm opstelling
Name[ar]=تعيين شاشة التسجيل
Name[az]=Giriş Ekranı Qurğuları
Name[be]=Наладка экрану ўваходу
Name[bg]=Настройка на изгледа на входната програма
Name[bn]=লগিন স্ক্রিন সেটআপ
Name[bs]=PodeĹˇavanje prikaza za prijavu
Name[ca]=Configuració de la pantalla d'entrada
Name[cs]=Nastavení přihlašovací obrazovky
Name[cy]=Gosodiad Sgrîn Mewngofnodi
Name[da]=Indstillinger for log ind-skærm
Name[de]=Einrichtung des Anmeldebildschirms
Name[el]=Ρύθμιση οθόνης εισόδου
Name[en_CA]=Login Screen Setup
Name[en_GB]=Login Screen Setup
Name[es]=Configuración de la pantalla de inicio de sesión
Name[eu]=Saio-hasierako pantailaren konfigurazioa
Name[fi]=Kirjautumisruudun asetukset
Name[fr]=Configuration de l'écran de connexion
Name[gl]=Configuración da pantalla de inicio de sesión
Name[gu]=પ્રવેશ પ્રક્રિયા સ્ક્રીનનું સુયોજન
Name[he]=הגדרת מסך התחברות
Name[hi]=लॉगइन स्क्रीन सेटअप
Name[hr]=Podešavanje zaslona za prijavu
Name[hu]=A bejelentkező képernyő beállítása
Name[it]=Impostazione della schermata di login
Name[ja]=ログイン画面の設定
Name[ko]=로그인 화면 설정
Name[lt]=Prisijungimo ekrano sąranka
Name[mk]=Подесувања на екранот за најава
Name[mn]=Нэвтрэх цонхны тохиргоо
Name[mr]=पडद्यामध्ये प्रवेश करा  
Name[ms]=Konfigurasi skrin logmasuk
Name[nb]=Oppsett av innloggingsskjerm
Name[nl]=Instellingen voor aanmeldscherm
Name[nn]=Oppsett av innloggingsskjermen
Name[no]=Oppsett av innloggingsskjerm
Name[pa]=ਲਾਗ-ਇਨ ਪਰਦਾ ਸੰਰਚਨਾ
Name[pl]=Ustawienia ekranu logowania
Name[pt]=Configuração de Ecrã de Início de Sessão
Name[pt_BR]=Configuração da Tela de Início de Sessão
Name[ro]=Setări autentificare
Name[ru]=Настройка экрана входа в систему
Name[sk]=Nastavenie obrazovky prihlásenia
Name[sl]=Nastavitev prijavnega zaslona
Name[sq]=Rregullimi i dritares së Login
Name[sr]=Подешавање екрана за пријаву
Name[sr@Latn]=Podešavanje ekrana za prijavu
Name[sv]=Konfiguration av inloggningsskärm
Name[ta]=நுழைவு திறை அமைவு
Name[th]=การตั้งค่าหน้าจอเข้าระบบ
Name[tr]=Giriş Ekranı Ayarları
Name[uk]=Налаштовування екрану входу в систему
Name[vi]=Thiết lập màn hình đăng nhập
Name[zh_CN]=登录屏幕设置
Name[zh_TW]=登入畫面設定
GenericName=Login Screen Setup
GenericName[af]=Aanmeldingsskerm opstelling
GenericName[ar]=تعيين شاشة التسجيل
GenericName[az]=Giriş Ekranı Qurğuları
GenericName[be]=Наладка экрану ўваходу
GenericName[bg]=Настройка на изгледа на входната програма
GenericName[bn]=লগিন স্ক্রিন সেটআপ
GenericName[bs]=PodeĹˇavanje prikaza za prijavu
GenericName[ca]=Configuració de la pantalla d'entrada
GenericName[cs]=Nastavení přihlašovací obrazovky
GenericName[cy]=Gosodiad Sgrîn Mewngofnodi
GenericName[da]=Indstillinger for log ind-skærm
GenericName[de]=Einrichtung des Anmeldebildschirms
GenericName[el]=Ρύθμιση οθόνης εισόδου
GenericName[en_CA]=Login Screen Setup
GenericName[en_GB]=Login Screen Setup
GenericName[es]=Configuración de la pantalla de inicio de sesión
GenericName[eu]=Saio-hasierako pantailaren konfigurazioa
GenericName[fi]=Kirjautumisruudun asetukset
GenericName[fr]=Configuration de l'écran de connexion
GenericName[gl]=Configuración da pantalla de inicio de sesión
GenericName[gu]=પ્રવેશ પ્રક્રિયા સ્ક્રીનનું સુયોજન
GenericName[he]=הגדרת מסך התחברות
GenericName[hi]=लॉगइन स्क्रीन सेटअप
GenericName[hr]=Podešavanje zaslona za prijavu
GenericName[hu]=A bejelentkező képernyő beállítása
GenericName[it]=Impostazione della schermata di login
GenericName[ja]=ログイン画面の設定
GenericName[ko]=로그인 화면 설정
GenericName[lt]=Prisijungimo ekrano sąranka
GenericName[mk]=Подесувања на екранот за најава
GenericName[mn]=Нэвтрэх цонхны тохиргоо
GenericName[mr]=पडद्यामध्ये प्रवेश करा  
GenericName[ms]=Konfigurasi skrin logmasuk
GenericName[nb]=Oppsett av innloggingsskjerm
GenericName[nl]=Instellingen voor aanmeldscherm
GenericName[nn]=Oppsett av innloggingsskjermen
GenericName[no]=Oppsett av innloggingsskjerm
GenericName[pa]=ਲਾਗ-ਇਨ ਪਰਦਾ ਸੰਰਚਨਾ
GenericName[pl]=Ustawienia ekranu logowania
GenericName[pt]=Configuração de Ecrã de Início de Sessão
GenericName[pt_BR]=Configuração da Tela de Início de Sessão
GenericName[ro]=Setări autentificare
GenericName[ru]=Настройка экрана входа в систему
GenericName[sk]=Nastavenie obrazovky prihlásenia
GenericName[sl]=Nastavitev prijavnega zaslona
GenericName[sq]=Rregullimi i dritares së Login
GenericName[sr]=Подешавање екрана за пријаву
GenericName[sr@Latn]=Podešavanje ekrana za prijavu
GenericName[sv]=Konfiguration av inloggningsskärm
GenericName[ta]=நுழைவு திறை அமைவு
GenericName[th]=การตั้งค่าหน้าจอเข้าระบบ
GenericName[tr]=Giriş Ekranı Ayarları
GenericName[uk]=Налаштовування екрану входу в систему
GenericName[vi]=Thiết lập màn hình đăng nhập
GenericName[zh_CN]=登录屏幕设置
GenericName[zh_TW]=登入畫面設定
Comment=A graphical application for configuring the GNOME Display Manager (GDM)
Comment[af]=n Grafiese toepassing om die GNOME-beeldbestuurder (GDM) te konfigureer
Comment[ar]=برنامج رسومي لإعداد مدير عرض جينوم (GDM)
Comment[az]=GNOME Ekran İdarəçisinin (GDM) qrafiki quraşdırma proqramı
Comment[be]=Графічнае дастасаваньне для канфігураваньня GNOME мэнаджару дэсплэя (GDM)
Comment[bg]=Графично приложение за конфигуриране на GDM (Мениджър за Дисплей на ГНОМЕ)
Comment[bn]=এটি গুহ্‌নোম ডিসপ্লে ম্যানেজারকে (জি-ডি-এম) কনফিগার করার জন্য একটি গ্রাফিক্যাল অ্যাপলিকেশন
Comment[bs]=GrafiÄŤka aplikacija za konfiguraciju upravitelja prikaza GNOME  (GDM)
Comment[ca]=Una aplicació gràfica per configurar el gestor de pantalla GNOME (GDM)
Comment[cs]=Grafická aplikace pro nastavení správce displeje GNOME (GDM)
Comment[cy]=Rhaglen graffegol er mwyn cyflunio Rheolydd Dangosydd GNOME (GDM)
Comment[da]=Et grafisk program til at konfigurere log ind-programmet til Gnome (GDM)
Comment[de]=Eine graphische Anwendung zur Konfiguration des GNOME Display Managers (GDM)
Comment[el]=Μια γραφική εφαρμογή για τη ρύθμιση του Διαχειριστή Οθόνης GNOME (GDM)
Comment[en_CA]=A graphical application for configuring the GNOME Display Manager (GDM)
Comment[en_GB]=A graphical application for configuring the GNOME Display Manager (GDM)
Comment[es]=Una aplicación gráfica para configurar el Gestor de pantalla GNOME (GDM)
Comment[et]=Graafiline tööriist GDMi (GNOME sisselogimise-haldur) häälestamiseks
Comment[eu]=GNOMEren pantaila-kudeatzailea (GDM) konfiguratzeko aplikazio grafikoa
Comment[fi]=Gnomen kirjautumisohjelman (GDM) graafinen asetusohjelma
Comment[fr]=Application graphique de configuration du gestionnaire de connexions GNOME (GDM)
Comment[gl]=Unha aplicación gráfica para configurar o xestor de pantallas de GNOME (GDM)
Comment[gu]=જીનોમ ડિસ્પલૅ વ્યવસ્થાપક (જીડીએમ) ની રૂપરેખા બદલવા માટેનો ચિત્રાત્મક કાર્યક્રમ
Comment[he]=יישום גרפי להגדרות מנהל התצוגה של GNOME (GDM)
Comment[hi]=गनोम डिस्प्ले प्रबंधक (जीडीएम) को कॉन्फ़िगर करने हेतु चित्रमय अनुप्रयोग
Comment[hr]=Grafička aplikacija za namještanje upravitelja zaslona GNOME  (GDM)
Comment[hu]=Egy grafikus alkalmazás a GNOME Display Manager (GDM) beállítására
Comment[id]=Aplikasi grafik untuk mengkonfigurasikan GNOME Display Manager (GDM)
Comment[it]=Applicazione grafica di configurazione del display manager di GNOME (GDM)
Comment[ja]=GDM を設定するアプリケーションを起動します
Comment[ko]=그놈 디스플레이 관리자(GDM)을 그래픽하게 설정하는 응용프로그램
Comment[lt]=Grafinė programa, skirta konfigūruoti GNOME prisijungimo menedžerį (GDM)
Comment[lv]=Grafiska aplikācija, ar kuru konfigurēt GNOME Displeja Pārvaldnieku (GDM)
Comment[mk]=Графичка алатка за конфигурирање на менаџерот на најавување на GNOME (GDM)
Comment[mn]=ГНОМЕ-ийн дэлгэцийн менежер(GDM)-ийн тохируулга хийх зориулалт бүхий график дүрслэлийн программ
Comment[mr]=हा एक आरेखित कार्यक्रम असून, जिनोम प्रदर्शक, व्यवस्थापक संकलित करण्यासाठी उपयोगी होतो
Comment[ms]=Aplikasi berantaramuka grafik untuk mengkonfigurasikan Pengurus Paparan GNOME (GDM)
Comment[nb]=En grafisk applikasjon for konfigurasjon av GNOME Display Manager (GDM)
Comment[nl]=Een grafisch programma voor het configureren van GNOME Aanmeldbeheer (GDM)
Comment[nn]=Eit grafisk program for å sette opp GNOME skjermhandsamaren (GDM)
Comment[no]=En grafisk applikasjon for konfigurasjon av GNOME Display Manager (GDM)
Comment[pa]=ਗਨੋਮ ਦਰਿਸ਼ ਪ੍ਰਬੰਧਕ (ਜੀਡੀਐਮ) ਦੀ ਸੰਰਚਨਾ ਦਰਸਾਉਣ ਲਈ ਇੱਕ ਗਰਾਫੀਕਲ ਕਾਰਜ
Comment[pl]=Aplikacja graficzna pozwalająca na konfigurację Menedżera Ekranu GNOME (GDM)
Comment[pt]=Uma aplicação gráfica para configurar o Gestor de Ecrãs GNOME (GDM)
Comment[pt_BR]=Uma aplicação gráfica para configurar o Gerenciador de Sessões do GNOME (GDM)
Comment[ro]=O aplicaţie grafică pentru a configura Gdm
Comment[ru]=Программа настройки Менеджера дисплеев среды Гном (GDM) 
Comment[sk]=Grafická aplikácia pre nastavenie Správcu displeja GNOME (GDM)
Comment[sl]=Grafični program za nastavljanje Upravljalnika zaslonov GNOME (GDM)
Comment[sq]=Një instrument grafik për të konfiguruar GNOME Display Manager (GDM)
Comment[sr]=Графичка апликација за подешавање Менаџера екрана за ГНОМ (ГДМ)
Comment[sr@Latn]=Grafička aplikacija za podešavanje Menadžera ekrana za GNOM (GDM)
Comment[sv]=Ett grafiskt program för att konfigurera GNOME:s displayhanterare (GDM)
Comment[ta]=GNOME காட்சி மேலாளரை (GDM) உள்ளமைப்பதர்கான வரைபட பயன்பாடு
Comment[th]=โปรแกรมแบบกราฟิกสำหรับการกำหนดค่าตัวจัดการการแสดงผลของ GNOME (GDM)
Comment[tr]=GNOME Görüntü Yöneticisini (GDM) yapılandırmak için bir araç
Comment[uk]=Графічна програма для налаштовування менеджера дисплеїв GNOME (GDM)
Comment[vi]=Một ứng dụng đồ họa dùng để cấu hình GDM (Trình quản lý Display của GNOME)
Comment[wa]=On programe grafike po-z apontyî li manaedjeu di håynaedje GNOME (GDM)
Comment[zh_CN]=配置 GNOME 显示控制器 (GDM) 的图形应用程序
Comment[zh_TW]=設定 GNOME 登入總管 (GDM) 的圖型介面程式
TryExec=gdmsetup
Exec=gdmsetup
Icon=gdm-setup
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;System;SystemSetup;X-Red-Hat-Base;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gdm
X-GNOME-Bugzilla-Component=general
