# This file is intended to be sourced by packaging-type-specific
# build.sh scripts.

NAME=vas-apps
LONG_NAME='VAS Apps'
BASE_VERSION=0.7.2
RELEASE=6
VERSION=${BASE_VERSION}q$RELEASE

# Hardcoded for now, but really shouldn't be
BUILDNO=1

CCACHE_DIR=/var/tmp/ccache
CCACHE_UMASK=0002
CC='ccache gcc'
CFLAGS='-g'
export CCACHE_DIR CCACHE_UMASK CC CFLAGS
PKGDIR=/data/rc/builds/vas-apps
